h1 Ordamo SDK Demo App

p Welcome to the SDK demo app. This page demonstrates the major features of the SDK.

h2 Build scripts

p Ordamo V3 apps must compile to a single HTML or JS file, and this requires a build script. Because setting up a JavaScript build system can be hard, this project is already set up with a package.json containing the dependencies and scripts that you need to get you started immediately. Feel free to change it if you want to.

p Our default build script is based on NPM, browserify, Typescript and LESS.

p You may find these scripts useful:

ul
  li <code>npm start</code> - launches a development server at http://localhost:9966/ that serves this documentation page. It watches your source folder and whenever you change anything it recompiles the code, refreshes the browser window and runs unit tests.
  li <code>npm test</code> - run unit tests.
  li <code>npm release</code> - make a release build. THe newly created build file is copied to <code>release/app-name--version.js</code>

h2 Embedding content

p SDK apps may not load data at runtime using standard browser APIs like XMLHttpRequest and &lt;img&gt;. Instead, all code and assets must be either compiled into a single HTML or JS file, or loaded at runtime using the SDK's content feature. This is to enable the apps to work offline.

h3 Loading content through the SDK
p These files are loaded at runtime as content provided by the SDK. In development, they are defined in <code>/mockcontent/</code> and compiled into <code>/build/mockcontent.json</code> using <code>npm run mockcontent</code>.
table
  tr
    for file in sdkFiles
      td <img src="#{file.content}">

p.caption "Happy Birthday Johan!" and "Curiosity" © Shelly ʕ•ᴥ•ʔ Licensed under CC-BY.

h3 Image embedded in JS using urify in app.ts
p <img src="#{embeddedImageSrc}">
p.caption Husky Puppy © 2012 Shelly ʕ•ᴥ•ʔ . Licensed under CC-BY

h3 Image embedded through data-uri() in LESS in app.less
p.seal-embed
p.caption Ice is Nice © 2014 Shelly ʕ•ᴥ•ʔ . Licensed under CC-BY.
